body {
    background-color: $baseBg;
}
.wrapper {
    color: $baseText;
    min-height: 100%;
    font-family: 'Open Sans';
    padding: 0 16px;
}
.container {
    // border: 1px solid red;
    max-width: 1200px;
    margin: 0 auto;
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {
            
    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
        max-width: 640px;    
    }      
    @media (max-width: $mobile-max) {  
        max-width: 640px;             
    }     
}
hr {
    height: 1px;
    width: 160px;
    margin: 0 auto 100px;
    color: rgba(226, 226, 226, 0.4);
}
.overlay {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba($overlay, .1);
}
