.section-main {
    text-transform: uppercase;
    position: relative;
    height: 720px;
    margin-bottom: 100px;
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {
            
    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
        height: 800px;    
    }      
    @media (max-width: $mobile-max) {  
        height: 830px;    
        max-width: 470px;
    }     
    &__tags {
        position: absolute;
        left: 0;
        top: 170px;
        width: fit-content;
        font-size: 12px;
        @media (min-width: $desktop-min) and (max-width: $desktop-max) {
            
        }     
        @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
            top: 120px;        
        }      
        @media (max-width: $mobile-max) {  
            top: 120px;                 
        }    

    }
    &__title {
        position: absolute;
        left: 0;
        top: 400px;
        font-size: 125px;
        font-weight: normal;
        width: fit-content; 
        line-height: 110px;  
        @media (min-width: $desktop-min) and (max-width: $desktop-max) {
            
        }     
        @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
            top: 440px;        
        }      
        @media (max-width: $mobile-max) {  
            top: 600px;  
            font-size: 80px;  
            line-height: 65px;                          
        }              
    }
    &__img-london {
        position: absolute;
        right: 150px;
        top: 170px;
        @media (min-width: $desktop-min) and (max-width: $desktop-max) {
            
        }     
        @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
            right: 100px;            
            top: 120px;         
        }      
        @media (max-width: $mobile-max) { 
            left: 0;              
            top: 300px;  
            max-width: 100%;               
        }          
    }
    &__img-car-ledy {
        position: absolute;
        right: 0px;
        top: 280px;
        @media (min-width: $desktop-min) and (max-width: $desktop-max) {
            
        }     
        @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
            top: 200px;         
        }      
        @media (max-width: $mobile-max) {  
            top: 120px;  
            width: 200px;               
        }         
    }
    &__person {
        // border: 1px solid green;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;  
        text-align: center;       
    }
    &__name {
        margin-bottom: 28px;
        font-size: 44px;
        font-weight: normal;
        @media (min-width: $desktop-min) and (max-width: $desktop-max) {
            
        }     
        @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
            margin-bottom: 4px;        
        }      
        @media (max-width: $mobile-max) { 
            font-size: 24px;             
            margin-bottom: 4px;                  
        }         
    }
    &__description {
        font-size: 14px;        
        line-height: 16px;
    }
}

@media (min-width: $desktop-min) and (max-width: $desktop-max) {
            
}     
@media (min-width: $tablet-min) and (max-width: $tablet-max) {  

}      
@media (max-width: $mobile-max) {  
        
} 